image: maven:3.6.3-jdk-11-openj9

variables:
  MVN_OPTS: "-B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -Dmaven.repo.local=./.m2/repository"

stages:
  - test
  - build
  - push

cache:
  key: ${CI_COMMIT_REF_SLUG}
  untracked: true
  paths:
    - ./.m2/repository

test userservice:
  stage: test
  script:
    - mvn clean $MVN_OPTS test
  only:
   - develop

build userservice:
  stage: build
  script:
    - mvn package $MVN_OPTS -DskipTests
  artifacts:
    expire_in: 1 hour
    paths:
      - target/*.jar
  only:
    - develop

push userservice:
  image: docker:19.03.1-dind
  stage: push
  before_script:
    - docker login -u $CI_REPO_USER -p $CI_REPO_PASS $CI_REPO
  script:
    - docker build -t $CI_REPO:$CI_COMMIT_BRANCH .
    - docker push $CI_REPO:$CI_COMMIT_BRANCH
  only:
    - develop
