<<<<<<< HEAD
image: maven:3.6.3-jdk-11-openj9

stages:
  - test
  - build


test userservice:
  stage: test
  script:
    - mvn clean test
  only:
   - develop

build userservice:
  stage: build
  script:
    - mvn package -DskipTests
  only:
    - develop
