image: maven:3.6.3-jdk-11-openj9

variables:
  MVN_OPTS: "-B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -Dmaven.repo.local=/root/.m2"

stages:
  - test
  - build

cache:
  key: ${CI_COMMIT_REF_SLUG}
  untracked: true
  paths:
    - /root/.m2/

test userservice:
  stage: test
  script:
    - mvn clean $MVN_OPTS test
  only:
   - develop

build userservice:
  stage: build
  script:
    - mvn package $MVN_OPTS -DskipTests
  only:
    - develop
