<div>
    <h2 id="page-heading">
        <span>Comment X Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment-x-profile" [routerLink]="['/comment-x-profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Comment X Profile
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="commentXProfiles?.length === 0">
        <span>No commentXProfiles found</span>
    </div>
    <div class="table-responsive" *ngIf="commentXProfiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Receiver</span></th>
            <th scope="col" ><span>Poster</span></th>
            <th scope="col" ><span>Comment</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentXProfile of commentXProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/comment-x-profile', commentXProfile.id, 'view' ]">{{commentXProfile.id}}</a></td>
                <td>
                    <div *ngIf="commentXProfile.receiver">
                        <a [routerLink]="['/user-profile', commentXProfile.receiver?.id, 'view' ]" >{{commentXProfile.receiver?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commentXProfile.poster">
                        <a [routerLink]="['/user-profile', commentXProfile.poster?.id, 'view' ]" >{{commentXProfile.poster?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commentXProfile.comment">
                        <a [routerLink]="['/comment', commentXProfile.comment?.id, 'view' ]" >{{commentXProfile.comment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comment-x-profile', commentXProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment-x-profile', commentXProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(commentXProfile)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
